<h1 class="bd-title">Lista de transações do arquivo: <%= @arquivo_cnab.arquivo_filename %></h1>

<div class="row flex-xl-nowrap">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tipo da transação</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col">CPF</th>
        <th scope="col">Cartão</th>
        <th scope="col">Dono da loja</th>
        <th scope="col">Nome da loja</th>
      </tr>
    </thead>
    <tbody>
      <% @arquivo.transações.each do |transacao| %>
        <tr>
          <th scope="row">1</th>
          <td><%= transacao.tipo_da_transacao.descricao %></td>
          <td><%= transacao.data %></td>
          <td><%= transacao.valor %></td>
          <td><%= transacao.cpf %></td>
          <td><%= transacao.cartao %></td>
          <td><%= transacao.hora %></td>
          <td><%= transacao.dono_da_loja %></td>
          <td><%= transacao.nome_da_loja %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
