<!DOCTYPE html>
<html>
  <head>
    <title>DesafioBackEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <img src="http://www.useblu.com.br/imgs/header-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
        BluPagamentos
      </a>
    </header>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
